<head> 
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/index.css" rel="stylesheet"> 
  <link rel="shortcut icon" type="image/ico" href="/assets/images/brain.svg"/>
  <title>RLenv.directory</title>

  <meta name="twitter:card" content="summary" />
  <meta property="og:title" content="RLenv.directory: Search and find exotic RL environments." />
  <meta property="og:description" content="Your go to place for finding that perfect learning environment. Explore 50+ exotic reinforcement learning environments." />
  <meta property="og:image" content="https://rlenv.directory/assets/images/card.png" />
</head>
<body>