
.navbar{
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    margin-bottom:0;
    padding-bottom:0;
  }

body {
    font-family: 'Didact Gothic', sans-serif;
    background: #fdfdfd;
}


.site-header{
    background: linear-gradient(to bottom right,#106070,#1E646E);
    color: white;
    padding-bottom: 0;
    text-align: center;
    font-size: 0.2in;

}

.hero{
    background: linear-gradient(to bottom right,#106070,#1E646E);
    color: white;
    padding-bottom: 2em;
    text-align: center;
    font-size: 0.2in;
    width: 100%;
    padding-top: 2em;
}

.hero h1{
    margin-top:0;
    padding-top:0;
}

header {
    font-size: 0.2in;
}

.hero h1 {
    font-size: 3em;   
}

h3{
    font-size: 1.3em;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
     /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.main-section  {
    padding-top: 2em;
}

.card{
    width: 12em;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
    padding: 1em;
    margin: 0.5em;
    float: left;
    border-radius: 1em;
}

.card-text{
    height: 6em;
    overflow: hidden;
}

.card-link{
    color:black
}

.card-link:hover{
    text-decoration: none;
}

.fa-link{
    font-size: 0.6em;
    padding-left: 0.2em;
}

.label{
    margin-left: 0.1em;
}

.btn{
    margin: 0.05em;
}

.card h5{
    height: 2em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-heart{
    color:  #e60000;
}

.github-icons{
    margin-bottom: 6em;
}

.github-icon{
    border-radius: 50%;
    margin: 0.5em;
}

.github-button{
    padding-top: 2em !important; 
}

.fa-star{
    margin-left: 0.3em;
}

.fa-link{
    color: #5e5e5e;
}

.dropdown-toggle{
    margin-right: 0.3em;
    margin-bottom: 0.6em;
}

.pagination{
    width: 100%;
}

.tag-group{
    margin-bottom: 1em;
}

.post-list{
    list-style-type: none;
    font-size: 1.5em;
}

.post-meta {
    padding-bottom: 0.5em;
}

.post-header h2{
    font-size: 1.3em;
    padding-bottom: 1em;
}

.post-header {
    width: 100;
    padding-left: 25%;
    color: white;
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding-bottom: 2em;
    padding-top: 2em;
}

.post-header a {
    color: lightblue
}

.post-header .post-meta{
    color: lightblue
}

.post-abstract{
    font-style: italic;
    font-size: 1.5em;
    padding-bottom: 1em;
}

.post-content{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    letter-spacing: -1px;
    line-height: 1.7em;
}

.post-content img {
    width: 15em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-content p {
    margin-bottom: 1.5em;
}

.post-content h3 {
    font-family: 'Didact Gothic', sans-serif;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    font-weight: light;
    font-size: 2em;
    letter-spacing: 0px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

table {
    width: 85%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.th-name{
    width: 40%;
}

.th-stars{
    width: 15%;
}

.th-agents{
    width: 15%;
}

.control-panel{
    display: inline-block;
    width: 85%;
}

.view-selector{
    float:right;
    font-size: 1.5em;
}

.view-selector button{
    background: transparent;
}

.view-selected{
    background-color: rgb(234, 241, 238) !important;
}
